[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/michelec1000
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/michelec1000
	label-Verified = -1..+1 group user/michelec1000
	push = group user/michelec1000
	read = group user/michelec1000
	rebase = group user/michelec1000
	removeReviewer = group user/michelec1000
	submit = group user/michelec1000
[access "refs/heads/*"]
	create = group user/michelec1000
	push = +force group user/michelec1000
	pushMerge = group user/michelec1000
	read = group user/michelec1000
[access "refs/tags/*"]
	push = group user/michelec1000
	push = +force group user/michelec1000
